html, body {
    font-family: 'Jost', sans-serif;
    padding: 30px;
}

.header {
    display: block;
    width: 960px;
    height: 100px;
    margin: 0 auto;
    line-height: 40px;
    background: url('bgu-bg.png');
    background-size: cover;
}

.header h1 {
    display: inline-block;
    color: white;
    background-color: rgba(32, 32, 32, 0.5);
    margin-left: 20px;
    padding: 10px;
    font-weight: 600;
}

.container {
    display: grid;
    width: 960px;
    margin: 60px auto;
    grid-template-columns: 1fr 3fr;
}

.sidebar {
    text-align: center;
    font-weight: 200;
    line-height: 2;
}

.sidebar a {
    padding: 5px;
    color: gray;
    text-decoration: none;
}

.notice {
    background-color: orange;
    padding: 10px;
    margin-bottom: 25px;
}

.sidebar .active {
    color: orange;
}

.content a {
    color: orange;
}

.notice a {
    color: black;
}

.schedule-time:not(:first-child) {
    margin-top: 20px;
}

.schedule-time {
    color: orange;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-weight: 200;
}

.schedule-item {
    background-color: #dddddd;
    padding: 10px;
    margin-bottom: 2px;
}

#map {
    height: 180px;
}

.footer {
    display: block;
    width: 960px;
    margin: 0 auto;
    border-top: 1px solid #eeeeee;
    color: #787878;
    text-align: center;
    padding: 20px;
}